@import url("./font.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "PlusJakartaSans", -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --Lime: hsl(61, 70%, 52%);
  --Faded-Lime: hsla(61, 70%, 52%, 0.096);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --Dark-slate-900: hsl(201, 66%, 10%);

  --Bold-font: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
    sans-serif;
  --Medium-font: "PlusJakartaSans-Medium", "Arial", sans-serif;
}

main {
  background-color: var(--White);
}

header {
  font-family: var(--Bold-font);
  font-size: 18px;
  margin-bottom: 1rem;
}

.clear {
  display: inline-block;
  color: var(--Slate-700);
  margin: 5px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--Slate-700);
}

.input-container,
.radio-container {
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
}
.input-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 900;
  color: var(--Slate-900);
  font-family: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
    sans-serif;
}

/* Hide spinners in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-container > span {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: var(--Slate-100);
  color: var(--Slate-700);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.mobile-view {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0.8rem 1rem;
  border: 2px solid var(--Slate-700);
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s, border 0.3s;
}

.radio-container:hover {
  border-color: var(--Lime);
}

.radio-container input {
  display: none;
}

.radio-container .custom-radio {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--Slate-700);
  position: relative;
  cursor: pointer;
}

.radio-container input:checked + .custom-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--Lime);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-container input:checked + .custom-radio {
  border-color: var(--Lime);
}

.radio-container:has(input:checked) {
  background-color: var(--Faded-Lime);
  border-color: var(--Lime);
}

button {
  padding: 12px 0;
  border-radius: 20px;
  gap: 10px;
  background-color: var(--Lime);
  color: var(--Slate-900);
  font-weight: 700;
}

button:hover {
  filter: opacity(0.7);
}

.results {
  background-color: var(--Slate-900);
  color: var(--White);
  padding: 0 0 2rem;
}

.results h2 {
  margin: 20px 0;
  font-weight: 700;
}

.results p {
  line-height: 25px;
  color: var(--Slate-300);
}

.empty-result {
  text-align: center;
  padding: 1rem;
}

.completed-result > h2 + p {
  margin-bottom: 1.2rem;
}

.result-details {
  background-color: var(--Dark-slate-900);
  padding: 1.5rem;
  border-top: 3px solid var(--Lime);
  border-radius: 8px;
}

.result-details > p {
  margin-bottom: 0.7rem;
}

.result-details p + span {
  font-family: var(--Medium-font);
}

.mnthly-repay {
  font-size: 30px;
  color: var(--Lime);
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--Slate-500);
  margin: 15px 0;
}

.total-repay {
  font-size: 20px;
}
