@import url("./font.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "PlusJakartaSans", -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}

header {
  font-family: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 18px;
  margin-bottom: 1rem;
}

.clear {
  display: inline-block;
  color: var(--Slate-700);
  margin: 5px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--Slate-700);
}

.input-container {
  display: flex;
  border: 1px solid var(--Slate-900);
  border-radius: 5px;
  overflow: hidden;
}

.input-container.reverse {
  flex-direction: row-reverse;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 900;
  color: var(--Slate-900);
  font-family: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
    sans-serif;
}

.input-container > span {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: var(--Slate-100);
  color: var(--Slate-700);
  font-size: 20px;
  font-weight: 700;
}
